
body {
    background-image: url(kate-mishchankova-Wk-lp8xjIio-unsplash.jpg);
    background-size: cover;
}

h2 {
    text-align: center;
    color: #AA4139;
    border: 5px solid rgba(255, 176, 170, 0.5);
    cursor: pointer;
}


.aboutText {
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 80;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


li{
    list-style: none;
    display: inline-block;
}

#div1{
    background-color: rgba(0, 0, 255, 0.2);
}

#div2{
    background-color: rgba(255, 0, 0, 0.2);
}

.webtext {
    color: green;
    text-align: center;
    border: 5px dashed green
}

.active { 
    color: red
}